body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.news-feed {
  background-color: rgb(149, 149, 245);
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 100%;
  width: 500px;
}

.newstext {
  text-align: center;
}

a {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

a:hover {
  color: #fff;
}

.currency-converter {
  background-color: rgb(230, 223, 211);
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  height: 100%;
  width: 500px;
}

.exchange-rate {
  background-color: rgb(197, 194, 194);
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #000000;
}